   
/* MARGENS DIREITAS */

.mx-1{
    margin-right: 1px;
}
.mx-2{
    margin-right: 2px;
}
.mx-3{
    margin-right: 3px;
}
.mx-4{
    margin-right: 4px;
}
.mx-5{
    margin-right: 5px;
}
.mx-6{
    margin-right: 6px;
}
.mx-7{
    margin-right: 7px;
}
.mx-8{
    margin-right: 8px;
}
.mx-9{
    margin-right: 9px;
}
.mx-10{
     margin-right: 10px;
}
.mx-11{
     margin-right: 11px;
}
.mx-12{
     margin-right: 12px;
}
.mx-13{
     margin-right: 13px;
}
.mx-14{
     margin-right: 14px;
}
.mx-15{
     margin-right: 15px;
}
.mx-16{
     margin-right: 16px;
}
.mx-17{
     margin-right: 17px;
}
.mx-18{
     margin-right: 18px;
}
.mx-19{
     margin-right: 19px;
}
.mx-20{
     margin-right: 20px;
}
.mx-21{
     margin-right: 21px;
}
.mx-22{
     margin-right: 22px;
}
.mx-23{
     margin-right: 23px;
}
.mx-24{
     margin-right: 24px;
}
.mx-25{
     margin-right: 25px;
}
.mx-26{
     margin-right: 26px;
}
.mx-27{
     margin-right: 27px;
}
.mx-28{
     margin-right: 28px;
}
.mx-29{
     margin-right: 29px;
}
.mx-30{
     margin-right: 30px;
}
.mx-34{
    margin-right: 34px;
}
.mx-40{
    margin-right: 40px;
}
.mx-44{
    margin-right: 44px;
}


/* MARGENS INFERIORES */
.my-1{
    margin-bottom: 1px;
}
.my-2{
    margin-bottom: 2px;
}
.my-3{
    margin-bottom: 3px;
}
.my-4{
    margin-bottom: 4px;
}
.my-5{
    margin-bottom: 5px;
}
.my-6{
    margin-bottom: 6px;
}
.my-7{
    margin-bottom: 7px;
}
.my-8{
    margin-bottom: 8px;
}
.my-9{
    margin-bottom: 9px;
}
.my-10{
    margin-bottom: 10px;
}
.my-11{
    margin-bottom: 11px;
}
.my-12{
    margin-bottom: 12px;
}
.my-13{
    margin-bottom: 13px;
}
.my-14{
    margin-bottom: 14px;
}
.my-15{
    margin-bottom: 15px;
}
.my-16{
    margin-bottom: 16px;
}
.my-17{
    margin-bottom: 17px;
}
.my-18{
    margin-bottom: 18px;
}
.my-19{
    margin-bottom: 19px;
}
.my-20{
    margin-bottom: 20px;
}
.my-21{
    margin-bottom: 21px;
}
.my-22{
    margin-bottom: 22px;
}
.my-23{
    margin-bottom: 23px;
}
.my-24{
    margin-bottom: 24px;
}
.my-25{
    margin-bottom: 25px;
}
.my-26{
    margin-bottom: 26px;
}
.my-27{
    margin-bottom: 27px;
}
.my-28{
    margin-bottom: 28px;
}
.my-29{
    margin-bottom: 29px;
}
.my-30{
    margin-bottom: 30px;
}
.my-32{
    margin-bottom: 32px;
}
.my-37{
    margin-bottom: 37px;
}
.my-45{
    margin-bottom: 45px;
}
.my-53{
    margin-bottom: 53px;
}



