.container-cotacao {
    display: flex;
    justify-content: center;
}


.container-cotacao .container-app .navbar .navbar-top-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.quotation-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    flex-direction: column;
    font-family: Roboto;
}


.navbar-top-container .quotation-icon {
    width: 51px;
    height: 89px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.navbar-top-container .quotation-container .exchange .money {
    width: 38px;
}

.navbar-top-container .quotation-container .top{
    padding: 0;
    height:18px;
    flex-direction: row;
}

.navbar-top-container .quotation-container .top .exchange{
    width: 100%;
    height: 100%;
    display: flex;
}

.navbar-top-container .quotation-container .bottom{
    padding: 0;
    height:18px;
}

.navbar-top-container .quotation-container .bottom .exchange{
    width: 100%;
    height: 100%;
    display: flex;
}

.container-cotacao .container-app .middle-content .element {
    display: flex;

    flex-direction: row;
    width: 184px;
    height: 79px;
    background: linear-gradient(180deg, #F7F7F7 0%, #EDEDED 100%);
}

.middle-content .element .quotation-icon{
    width: 58px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 11px 19px 28px 19px;
}

.middle-content .element .quotation-icon img{
    width: 40px;
    height: 40px;
}

.middle-content .element .prices-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-family: Roboto;

}

.middle-content .element .prices-container .quotation-price-1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.middle-content .element .prices-container .quotation-price-1 .exchange{
    display: flex;
    align-items: center;
}

.middle-content .element .prices-container .quotation-price-1 .exchange .money{
    display: flex;
    width: 38px;
}

.middle-content .element .prices-container .quotation-price-2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.middle-content .element .prices-container .quotation-price-2 .exchange{
    display: flex;
    align-items: center;

}

.middle-content .element .prices-container .quotation-price-2 .exchange .money{
    display: flex;
    width: 38px;
}

.container-app .container-app-bottom {
    width: 100%;
    height: 100%;
    background: white;
    font-family: Roboto;
}

.container-app .container-app-bottom .navbar{
    background: white;
}

.container-app .container-app-bottom .container-app-live {
    width: 100%;
    height: 250px;
    overflow-y: auto;
    padding-left: 12px;

}

.container-app .container-app-bottom .head-data {
    display: flex;
    width: 100%;
    height: 9px;
}

.container-app .container-app-bottom .head-data .money-pair{
    width: 179px;
    height: auto;
}

.container-app .container-app-bottom .head-data .money-purchase{
    width: 75px;
}

.container-app .container-app-bottom .head-data .money-sale{
    width: 71px;
}

.container-app .container-app-bottom .head-data .money-last{
    width: 35px;
}

.container-app .container-app-bottom .data-live {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

.container-app .container-app-bottom .data-row {
    width: 100%;
    height: 25px;
    display: flex;
}

.container-app .container-app-bottom .data-row .icon-data{
    width: 8px;
    display: flex;
    padding-bottom: 7px;
}

.container-app .container-app-bottom .data-row .money-data{
    width: 150px;
    justify-content: left;
}

.container-app .container-app-bottom .data-row .money-data-purchase{
    width: 77px;
}

.container-app .container-app-bottom .data-row .money-data-sale{
    width: 77px;
}

.container-app .container-app-bottom .data-row .money-data-last{
    width: 41px;
}

.container-app .container-app-bottom .data-row.footer{
justify-content: end;
align-items: flex-end;
background: none;
}

.container-app .container-app-bottom .data-row.footer .see-more{
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    justify-content: center;
    padding-right: 17px;
    height: 100%;

}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
/* FIX */

.icon-money.mbx-4 {
    display: flex;
}

@media screen  and (max-width: 690px){
    .container-app .container-app-bottom .container-app-live {
        width: 95%;
        height: 100%;
        padding-left: 12px;
    }
   .container-cotacao .container-app {
        width: 360px !important;
    }
}

