.container-tempo {
    display: flex;
    justify-content: center;
}

.container-tempo .container-app .navbar .navbar-top-container{
    padding:12px 16px 16px 17px;
    width: 100%;
    height: 100%;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-city{
    width: 100%;
    height: 8px;   
    display: flex;    
    align-items: center;
    text-align: center;
    font-family: Roboto;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-city .change-city{
    display: flex;
    text-align: center;
    padding-left: 3px;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    font-family: Roboto;   
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-today{
    width: 34px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-today img{
    width: 34px;
    height: 27px;
    display: flex;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions{
    width: 311px;
    height: 46px;
    padding-top: 11px;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container{
    width: 100%;
    height: 14px;
    display: flex;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .icon{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .icon img{
    width: 9px;
    height: 18px;
}
.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .title{
    width: 88px;
    height: 100%;
}
.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .divisor{
    width: 120px;
    height: 100%;
    display: flex;
    }
.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .low-icon{
    width: 8px;
    height: 100%;
    display: flex;
}
.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .low-weather{
    width: 19px;
    height: 100%;

}
.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .high-icon{
    width: 8px;
    height: 100%;
    display: flex;
}
.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .temperature-container .high-weather{
    width: 19px;
    height: 100%;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .rain-container{
    width: 100%;
    height: 14px;
    display: flex;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .rain-container .icon{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .rain-container .icon img{
    width: 12px;
    height: 14px;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .rain-container .title{
    width: 44px;
    height: 100%;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .rain-container .divisor{
    display: flex;
}

.container-tempo .container-app .navbar .navbar-top-container .weather-header-container .weather-conditions .rain-container .rain-icon{
    width: 18px;
    height: 12px;
}

.container-tempo .container-app .middle-content .element{
    padding: 13px 18px 16px 16px;
    font-family: Roboto;   
}

.container-tempo .container-app .middle-content .element .col-1 {
    display: flex;
    flex-direction: row;

}

.container-tempo .container-app .middle-content .element .col-1 .img-weather {
    width: 34px;
}

.container-tempo .container-app .middle-content .element .col-1 .img-weather .weather-today{
    width: 100%;
    height: 34px;
}

.container-tempo .container-app .middle-content .element .col-1 .img-weather .weather-today img {
    width: 34px;
    height: 27px;
}

.container-tempo .container-app .middle-content .element .col-1 .data-weather {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-tempo .container-app .middle-content .element .col-1 .data-weather .low-icon{
    width: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3px;   
}

.container-tempo .container-app .middle-content .element .col-1 .data-weather .high-icon{
    width: 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3px;
}

.container-tempo .container-app .middle-content .element .col-2 {
    width: 100%;
    height: 17px;
    display: flex;
}

.container-tempo .container-app .middle-content .element .col-2 .day-weather {
    width: 34px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempo .container-app .middle-content .element .col-2 .weather-city {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.container-tempo .container-app .middle-content .element .col-3{
    width: 100%;
    height: 8px;
    display: flex;
    
}


.container-tempo .container-app .middle-content .element .col-3 .change-city {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.container-tempo .container-app .container-app-bottom{
    padding:21px 0 53px 17px;
    font-family: Roboto;
    background: #E5E5E5;
}

.container-tempo .container-app .container-app-bottom .row-header{
    display: flex;
    flex-direction: row;
}

.container-tempo .container-app .container-app-bottom .row-header .weather-city{
    flex-direction: row;
    display: flex;
}

.container-tempo .container-app .container-app-bottom .row-header .change-city{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
}


.container-tempo .container-app .container-app-bottom .weather-header-container{
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    font-family: Roboto;   
}

.container-tempo .container-app .navbar .container-app-bottom .weather-header-container .weather-today{
    width: 34px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-today img{
    width: 34px;
    height: 27px;
    display: flex;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions{
    width: 311px;
    height: 46px;
    padding-top: 11px;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container{
    width: 100%;
    height: 14px;
    display: flex;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .icon{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .icon img{
    width: 9px;
    height: 18px;
}
.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .title{
    width: 88px;
    height: 100%;
}
.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .divisor{
    width: 120px;
    height: 100%;
    display: flex;
    }
.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .low-icon{
    width: 8px;
    height: 100%;
    display: flex;
}
.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .low-weather{
    width: 19px;
    height: 100%;

}
.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .high-icon{
    width: 8px;
    height: 100%;
    display: flex;
}
.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .temperature-container .high-weather{
    width: 19px;
    height: 100%;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .rain-container{
    width: 100%;
    height: 14px;
    display: flex;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .rain-container .icon{
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .rain-container .icon img{
    width: 12px;
    height: 14px;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .rain-container .title{
    width: 44px;
    height: 100%;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .rain-container .divisor{
    display: flex;
}

.container-tempo .container-app  .container-app-bottom .weather-header-container .weather-conditions .rain-container .rain-icon{
    width: 18px;
    height: 12px;
}

.container-tempo .container-app .app-data{
    background-color: #E5E5E5;
    width: 100%;
    height: fit-content;
}

.container-tempo .container-app .app-data .container-data-bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: Roboto;   
}

.container-tempo .container-app .app-data .container-data-bottom .title-weather {
    height: 40px;
    width: 100%;
    padding: 0 75px 0 75px;
    font-family: Roboto;   
    text-align: center;
}

.container-tempo .container-app .app-data .container-data-bottom .allday-data-footer {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tempo .container-app .app-data .container-data-bottom .allday-data-footer .time-day {
    flex-direction: column;
    width: 67px;
    height: 100%;
    display: flex;
}

.container-tempo .container-app .app-data .container-data-bottom .allday-data-footer .time-day .img-day {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .allday-data-footer .time-day .img-day img {
    width: 26px;
    height: 26px;
}

.container-tempo .container-app .app-data .container-data-bottom .allday-data-footer .time-day .period-day{
    text-align: center;
    font-family: Roboto;   
}

.container-tempo .container-app .app-data .container-data-bottom .wind{
    display: flex;
    width: 100%;
    height: 16px;
}

.container-tempo .container-app .app-data .container-data-bottom .wind .title{
    width: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .wind .divisor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tempo .container-app .app-data .container-data-bottom .wind .data-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .wind .data-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .moisture{
    display: flex;
    width: 100%;
    height: 16px;

}

.container-tempo .container-app .app-data .container-data-bottom  .moisture .title{
    width: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom  .moisture .divisor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tempo .container-app .app-data .container-data-bottom  .moisture .data-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom  .moisture .data-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom  .moisture .data-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom  .moisture .data-4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .sun{
    display: flex;
    width: 100%;
    height: 16px;
}

.container-tempo .container-app .app-data .container-data-bottom .sun .title{
    width: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .sun .divisor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-tempo .container-app .app-data .container-data-bottom .sun .data-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .sun .data-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .sun .data-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-tempo .container-app .app-data .container-data-bottom .see-more{
    width: 100%;
    height: 100%;
    font-family: Roboto;
    display: flex;
    justify-content: flex-end;
}

.container-data-bottom.live-data{
    padding: 0 42px 0 56px;
}